{% extends 'polls/base.html' %}

{% block page %}
<div class="container">
                <form class= "form-horizontal" method = post action="">

                <fieldset>
                <legend>Edit link</legend>
                {% csrf_token %}
                {{ form.as_p }}

                <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                <button type="submit" class="btn btn-primary" name = "savebutton">Save</button>
                </div>
                </div>

                </fieldset>
                </form>
    </div>
{% endblock %}

