{% extends 'polls/base.html' %}

{% block page %}
<div class="container">
            <legend>{{ view_name }}</legend>
            <table class="table">
                <thead>
                <tr>
                    <th>User ID</th>
                    <th>Link</th>
                    <th>Private Flag</th>
                    <th>Link Info</th>
                </tr>
                </thead>
                <tbody>
                {% for i in link %}
                <tr>
                    <td>{{ i.user_id }}</td>
                    <!--<td>{{ user.first_name }}</td>-->
                    <td>{{ i.link }}</td>
                    <td>{{ i.private_flag }}</td>
                    <td><a href="/polls/linkInfo/{{ i.id }}" class="btn btn-primary">Link info</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                    <span class="step-links">
                        {% if link.has_previous %}
                            <a href="?page={{ link.previous_page_number }}">Previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ link.number }} of {{ link.paginator.num_pages }}
                        </span>

                        {% if link.has_next %}
                            <a href="?page={{ link.next_page_number }}">Next</a>
                        {% endif %}
                    </span>
            </div>
</div>
{% endblock %}