{% extends 'polls/base.html' %}

{% block page %}
<div class="container">
    <fieldset>

            <legend>Profile</legend>

                    <div class="control-group">
                        <label class="control-label">Login:</label>
                            <span class="inline">{{ profile.0.username }}</span>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Name:</label>
                            <span class="inline">{{ profile.0.first_name|default:"empty" }}</span>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Surname:</label>
                                <span class="inline">{{ profile.0.last_name|default:"empty" }}</span>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Email:</label>
                                <span class="inline">{{ profile.0.email }}</span>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Active status:</label>
                                <span class="inline">{{ profile.0.is_active }}</span>
                    </div>
        <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                <a href="/polls/editUserProfile/" class="btn btn-primary">Edit Profile</a>
                </div>
        </div>
    </fieldset>

</div>

{% endblock %}