{% extends 'polls/base.html' %}

{% block page %}
<div class="container">
            <legend>Users</legend>
            <table class="table">
                <thead>
                <tr>
                    <!--{% for field in users %}-->
                        <!--<th>{{ field.label }}</th>-->
                    <!--{% endfor %}-->
                    <th>User Login</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Active status</th>
                    <th>Edit User</th>
                    <th>Delete User</th>
                </tr>
                </thead>
                <tbody>
                {% for i in users %}
                <tr>
                    <td>{{ i.username }}</td>
                    <td>{{ i.first_name }}</td>
                    <td>{{ i.email }}</td>
                    <td>{{ i.is_active }}</td>
                    <td><a href="/polls/editUserProfile/?userid=''" class="btn btn-primary">Edit User</a></td>
                    <td><button id='' class="btn btn-primary delete-user-button">Delete User</button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
</div>
{% endblock %}